:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #10101a;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  font-size: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  position: relative;
}

h2 {
  font-size: 1.2em;
  line-height: 1.1;
  text-transform: uppercase;
}

#container {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  margin-right: 15px;
  height: 64px;
  width: 64px;
}

.title {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#version {
  margin-left: 20px;
  font-size: 14px;
}

.output {
  margin-top: 40px;
}

#format {
  font-size: 1.1em;
  letter-spacing: 0.15em;
  width: 60%;
  padding: 9px 20px;
  background-color: #292932;
  color: white;
  box-sizing: border-box;
  border: 2px solid #424242;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  margin: 8px 0;
  outline: none;
  box-sizing: border-box;
}

#format:focus,
#format:hover {
  border-color: white;
}

.save-button {
  background-color: #1a73e8;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
  height: 43px;
  width: 120px;
}

.save-button:hover {
  background-color: #0052cc;
}

.save-button.failed {
  background-color: #ff6666;
}

.save-button.failed:hover {
  background-color: #ff6666;
}

.placeholders {
  margin-top: 40px;
}

.examples-wrapper {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.examples {
  display: flex;
  place-items: center;
  flex-direction: column;
  margin-top: 20px;
}

#placeholder-info {
  margin: 0;
}

table {
  border: 1px ridge #424242;
  text-align: left;
}

.examples table td,
.examples table th {
  margin-right: 10px;
  padding-right: 35px;
  padding-left: 10px;
}

.examples a,
.examples a:visited {
  color: #1a73e8;
}

.token {
  background-color: #292932;
  cursor: grab;
  padding: 2px 5px;
  letter-spacing: 0.15em;
}

.token:hover {
  background-color: #747171;
}

.note {
  display: inline;
  padding-top: 25px;
}

.buttons-section {
  display: flex;
  place-items: center;
  flex-direction: column;
}

.button-checks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}