:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  font-size: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  position: relative;
}

h2 {
  font-size: 1.2em;
  line-height: 1.1;
  text-transform: uppercase;
}

#container {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  margin-right: 15px;
  height: 64px;
  width: 64px;
}

.title {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#version {
  margin-left: 20px;
  font-size: 14px;
}

.output {
  display: flex;
  place-items: center;
  flex-direction: column;
}

#format {
  font-size: 1.1em;
  letter-spacing: 0.15em;

  width: 80%;
  padding: 12px 20px;
  background-color: #333;
  color: white;
  box-sizing: border-box;
  border: 3px solid #ccc;
  transition: 0.5s;
  -webkit-transition: 0.5s;

  margin: 8px 0;
  outline: none;
  box-sizing: border-box;
}

#format:focus,
#format:hover {
  border-color: white;
}

.save-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 50px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
  margin-bottom: 20px;
  max-width: 250px;
}

.save-button:hover {
  background-color: #0052cc;
}

.save-button.failed {
  background-color: #ff6666;
}

.save-button.failed:hover {
  background-color: #ff6666;
}

.examples {
  display: flex;
  place-items: center;
  flex-direction: column;
  margin-top: 15px;
}

#placeholder-info {
  margin-top: 0;
}

table {
  border: 1px dashed #888;
  text-align: left;
}

.examples table td,
.examples table th {
  margin-right: 10px; /* Adjust the value as needed */
  padding-right: 35px; /* Adjust the value as needed for extra spacing */
  padding-left: 10px; /* Adjust the value as needed for extra spacing */
}

.examples a,
.examples a:visited {
  color: #007bff; /* Set visited link color to blue */
}

.token {
  background-color: #333;
  cursor: grab;
  padding: 2px 5px;
}

.token:hover {
  background-color: #747171;
}

.tip {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.tip ul {
  list-style: disc inside;
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 700px;
  word-wrap: break-word;
  word-break: break-word;
}
